:root {
    --background-color: #f8f8f8;
    --span-color: #a35ff9;
    --menu-background: #1a1a1a;
    --menu-text: #fff;
    --hover-color: #333;
    --hero-text: #2c3e50;
    --progress-background: rgb(79, 0, 0);
    --purple: purple;
    --progress-color-1: rgb(206, 134, 0);
    --progress-color-2: rgb(22, 3, 162);
    --progress-color-3: rgb(218, 232, 73);
    --progress-color-4: rgb(212, 153, 219);
}
html {
    height: 100vh;
}

body {
    background-color: #f8f8f8; /* Fondo gris claro */
}
span{
    color: #a35ff9;
}
main{
    display: flex;
    flex-direction: row;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: var(--menu-background); /* Fondo negro para el menú */
    color: var(--menu-text); /* Texto blanco para el menú */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    width: 100%;
    display: block;
    margin: 0;
    padding: 10% 0;
    text-align: center;
    border-top: var(--menu-text);
    transition: background-color 0.5s;
}

nav li:hover {
    background-color: var(--hover-color);
    border-left: var(--menu-text) 5px solid;
    width: 98%;
    max-width: 250px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

section {
    margin-left: 240px;
    display: none;
    padding: 5%;
    background-color: var(--menu-text);
    width: 100vw;
    height: 100vh;
}

#hero {
    display: block;
    height: 78vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

#hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#hero img {
    height: 40vmin;
    width: 40vmin;
    border-radius: 50%;
}

nav img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}


/*trabajo*/

#trabajo {
    display: none;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
}

.contenedor-imagen {
    position: relative;
    flex: 0 0 calc(33% - 20px);
    overflow: hidden;
}

.image img {
    width: 33%;
    height: auto;
    transition: transform 0.3s ease;
}

.informacion {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 30%;
    background-color: var(--menu-background);
    color: #fff;
    padding: 10px;
    transition: bottom 0.3s ease;
    opacity: 0;
}

.contenedor-imagen:hover .informacion {
    opacity: 1;
    bottom: 0;
}

.contenedor-imagen:hover .image {
    transform: scale(0.85);
    transition: 0.3s;
}

#habilidades {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 78vh;
}

.habilidades h2 {
    margin-bottom: 20px;
}

.cont-hab {
    display: flex;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
    align-items: end;
}

.habilidad {
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont-hab .barra-progreso {
    height: 20px;
    border-radius: 10px;
    border: 2px solid var(--span-color);
    overflow: hidden;
    position: relative;
    background-color: var(--menu-background);
    margin: 10px 0;
}

.cont-hab .barra-progreso::before {
    content: '';
    display: block;
    height: 100%;
    width: 0;
    background-color: inherit;
    animation: progressAnimation 2s ease-in-out infinite;
}

.barra-progreso {
    width: 80%;
}

.cont-hab .habilidad:nth-child(1) .barra-progreso::before {
    width: 90%;
    background-color: var(--progress-color-1);
}

.cont-hab .habilidad:nth-child(2) .barra-progreso::before {
    width: 80%;
    background-color: var(--progress-color-2);
}

.cont-hab .habilidad:nth-child(3) .barra-progreso::before {
    width: 70%;
    background-color: var(--progress-color-3);
}

.cont-hab .habilidad:nth-child(4) .barra-progreso::before {
    width: 80%;
    background-color: var(--progress-color-4);
}

@keyframes progressAnimation {
    0% {
        width: 0;
    }
}

.cont-menu {
    width: 120%;
    max-width: 250px;
    border-left: #fb0000 3px;
    height: 100vh;
    position: relative;
}
        #trabajo {
            display: none;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            margin-top: 20px;
        }

        .card {
            position: relative;
            flex-basis: 0 calc(50% - 20px);
            overflow: hidden;
        }

        .card img {
            width: 400px;
            height: 200px;
            transition: transform 0.3s ease;
        }

        .card-content {
            position: absolute;
            bottom: -100%;
            left: 0;
            width: 80%;
            background-color: rgba(0, 0, 0, 0.8);
            color: #fff;
            padding: 10px;
            transition: bottom 0.3s ease;
            opacity: 0;
        }

        .card:hover .card-content {
            bottom: 0;
            opacity: 1;
        }

       .card:hover .card-image{
            transform:scale(0.85); 
            transition: 0.4s;
        }

        #proyectos {
            padding: 50px 10px;
            display: none;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        #proyectos .contenido .fila {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        #proyectos .contenido .fila .col {
            border: 2px solid #000000;
            padding: 60px 20px 20px 20px;
            position: relative;
            text-align: center;
            flex-basis: calc(25% - 40px);
            margin-bottom: 20px;
            transition: .5s;
            box-sizing: border-box;
            background-color: #d8d8d8;
            border-radius: 10px;
        }

        #proyectos .contenido .fila .col:hover {
            box-shadow: 0px 0px 20px #a35ff9;
            transform: scale(1.05);
        }

        #proyectos .contenido .fila .col .numero-proyecto {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            color: #000;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            transition: .4s;
        }

        #proyectos .contenido .fila .col:hover .numero-proyecto {
            left: 50%;
            transform: translateX(-50%);
        }

        #proyectos .contenido .fila .col .titulo-proyecto {
            letter-spacing: 3px;
            font-size: 25px;
        }

        #proyectos .contenido .fila .col hr {
            width: 50px;
            background-color: #a35ff9;
            border: none;
            height: 2px;
            margin: 20px auto;
        }

        #proyectos .contenido .fila .col p {
            font-size: 14px;
            margin-bottom: 20px;
        }


#testimonios{
    margin-top: -1%;
    padding: 0;
    margin-left: 230px;
    margin-right: 0;
}
/* sección NUMEROS */
#numeros {
    background-color: #1d1d1d;
    padding: 50px 10px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5);
    color: #fff; /* Añadir color de texto blanco */
    display: none;
    width: auto;
}

#numeros .fila {
    display: flex;
    justify-content: space-evenly;
}

#numeros .fila .col {
    display: flex;
    align-items: center;
}

#numeros .fila .col .mas {
    font-size: 40px;
    color: #a35ff9;
}

#numeros .fila .col .num {
    width: 40px;
    font-size: 40px;
    font-weight: bold;
    margin: 0 15px 0 0; /* Ajustar márgenes */
}


/* sección clientes */
#clientes{
    padding: 50px 10px;
    display: none;
}
#clientes .contenido .fila{
    display: flex;
    justify-content: space-between;
}
#clientes .contenido .fila .col{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#clientes .contenido .fila .col img{
    width: 350px;
}
.subir{
    width: 350px;
    position: relative;
    top: -20px;
}
#clientes .contenido .fila .col-historia .cliente{
    display: flex;
    margin-bottom: 20px;
}
#clientes .contenido .fila .col-historia .cliente img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    filter: grayscale();
    margin-right: 20px;
}
#clientes .contenido .fila .col-historia .cliente h3{
    font-size: 15px;
}
#clientes .contenido .fila .col-historia .cliente i{
    font-size: 10px;
    color: #fff;
}
.relleno{
    color: #a35ff9 !important;
}
#clientes .contenido .fila .col-historia .cliente p{
    font-size: 12px;
    font-style: italic;
}
#clientes .col img.pulso {
    width: 100%;
    height: auto;
    transition: transform 1s ease-in-out;
}

#clientes .col img.pulso:hover {
    transform: scale(1.2);
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

#clientes .col img.pulso {
    animation: pulse 3s infinite;
}


/*contacto*/
#contacto {
    background-color: #fff;
    color: #000;
    padding: 50px;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
}

label {
    flex-basis: 100%;
    margin-bottom: 5px;
}

input,
textarea {
    flex-basis: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #000;
    transition: transform 0.3s; /* Transición para suavizar el efecto */
}

input:hover,
textarea:hover {
    transform: scale(1.05); /* Aumenta el tamaño al hacer hover */
}

button {
    flex-basis: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333;
}


@media screen and (max-width: 920px) {
    nav img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                
            }

            h2 {
                display: none;
            }

            nav ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: -100px;
            }

            nav ul li {
                margin: 0 10px;
                
            }

            nav ul li:hover {
                font-size: 20px;
            }

            nav:nth-child(2) {
                display: none; /* Oculta el nombre en la vista de tablet */
            }
    
    section{
        margin-left: 0;
        margin-top: 200px;
    }
    nav {
        width: 100%;
        height: 20%;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }

    nav h2 {
        margin-top: 10px;
    }

    nav ul {
        align-items: center;
    }



    .cont-menu img {
        order: -1;
    }

    .cont-menu a {
        font-size: 16px;
    }

    .redes-sociales {
        display: none;
    }


    #proyectos .contenido .fila{
        display: block;
    }
    #proyectos .contenido .fila .col{
        width: 90%;
        margin: 5px auto;
    }
    #testimonios{
    margin-top: 15%;
    padding: 0;
    margin-right: 0;
    }



    form {
        flex-basis: 60%;
    }
}